body {
  width: 100vw;
  height: 100vh;

  header {
    background-color: #38aef0;
    color: #fff;
    text-align: center;
  }

  .main {
    width: calc(100vw - 300px);
    height: 100vh;
    float: left;

    &__header {
      height: 65px;
      padding: 20px 30px 15px;

      &__room-name {
        font-size: 20px;
        color: #333;
      }

      &__members-name {
        font-size: 12px;
        color: #999;
        padding: 15px 0;
      }

      a {
        float: right;
        height: 40px;
        margin:  0 40px 0 ;
        display: block;
        padding: 10px 20px 0;
        border: solid;
        color: #38aef0;
        text-decoration: none;
      }
    }

    &__messages {
      padding: 0 40px 0 40px;
      height: calc(100vh - 100px - 90px );
      border-top: solid thin #eee;
      overflow: scroll;

        .upper-message{
          &__user-name {
            font-size: 16px;
            color: #434a54;
            font-weight: bold;
            display: block;
            margin: 46px 10px 0 0;
            float: left;
          }
          &__date {
            color: #999;
            font-size: 12px;
            display: block;
            margin: 50px 10px 0 0;
            float: left;
          }
        }

        .lower-message {
          &__content {
            font-size: 14px;
            color: #434a54;
            padding: 10px 40px 40px 0;
            clear: both;
          }
        }
      }


    &__comments {
      padding: 0 40px 0 50px;
      background-color: #aaa;
      height: 90px;
    }

    .comments {
      padding: 20px 0;
    }

    .text {
      height: 50px;
    }

    i {
      position: absolute;
      margin: 20px 0 0 -30px;
    }

      .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
  }
}
